{% extends 'generic/object_detail.html' %}

{% block content_left_page %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Info</strong>
        </div>
        <table class="table table-hover panel-body attr-table">
            <tr>
                <td>Name</td>
                <td>
                    <span class="">{{ object.name }}</span>
                </td>
            </tr>
            <tr>
                <td>Type</td>
                <td>{{ source_type }}</td>
            </tr>
            <tr>
                <td>Account ID</td>
                <td>{{ account }}</td>
            </tr>
            <tr>
                <td>Providers</td>
                <td>
                    <ul>
                        {% for provider in providers %}
                            <li><a href="{{ provider.get_absolute_url }}">{{ provider.name }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Attach all providers</td>
                <td>
                {% if object.attach_all_providers %}
                    <span class="text-success"><i class="mdi mdi-check-bold"></i></span>
                {% else %}
                    <span class="text-danger"><i class="mdi mdi-close"></i></span>
                {% endif %}
                </td>
            </tr>
            {% if authentication_message %}
            <tr>
                <td>Authentication Status</td>
                <td>{{ authentication_message }}</td>
            </tr>
            {% endif %}
        </table>
    </div>
    <div class="btn-group">
        <a href="{% url 'plugins:nautobot_circuit_maintenance:notificationsource_validate' pk=object.pk %}?return_url={{ object.get_absolute_url }}" class="btn  btn-xs">
            <button type="submit" name="_validate" class="btn btn-primary">Validate Authentication</button>
        </a>
        {% if perms.nautobot_circuit_maintenance.add_circuitmaintenance %}
        <a href="{% url 'plugins:nautobot_circuit_maintenance:notificationsource_edit' pk=object.pk %}?return_url={{ object.get_absolute_url }}" class="btn  btn-xs">
            <button type="submit" name="_edit" class="btn btn-primary btn-warning">Edit</button>
        </a>
        {% endif %}
    </div>
{% endblock %}
