{% extends 'base.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load plugins %}

{% block title %}{{ object }}{% endblock%}
{% block header %}


<h1>{{ object.title }}</h1>

{% include 'inc/created_updated.html' with obj=object %}

<div class="pull-right noprint">{% custom_links object %}</div>

{% endblock %} {% block content %}

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Info</strong>
      </div>
      <table class="table table-hover panel-body attr-table">
      <tr>
        <td>Name</td>
        <td>
          <span class="">{{ object.name }}</span>
        </td>
      </tr>
      <tr>
      <td>Slug</td>
      <td>{{ object.slug }}</td>
      </tr>
      <tr>
      <td>Providers</td>
      <td>

      {% for provider in providers %}
              <a href="{% url 'circuits:provider' slug=provider.slug %}">{{ provider.name }} </a>
      {% endfor %}

      </td>
      </tr>
      </table>
    </div>
  </div>
</div>

{% endblock %}
