{% extends 'base.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load plugins %}

{% block title %}{{ object }}{% endblock%}

{% block header %}

<div class="row noprint">
  <div class="col-sm-8 col-md-9">
    <ol class="breadcrumb">
      <li><a href="{% url 'plugins:nautobot_circuit_maintenance:rawnotification_list' %}">ParsedNotification</a></li>
      <li><a>{{ object }}</a></li>
    </ol>
  </div>
</div>

<h1>{{ object }}</h1>
<div class="pull-right noprint">{% custom_links object %}</div>

{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Info</strong>
      </div>
      <table class="table table-hover panel-body attr-table">
        <tr>
          <td>Maintenance</td>
          <td>
            <a
              href="{% url 'plugins:nautobot_circuit_maintenance:circuitmaintenance' pk=object.maintenance.pk %}"
              >{{ object.maintenance.name }}</a
            >
          </td>
        </tr>
        <tr>
          <td>Raw Notification</td>
          <td>
            <a
              href="{% url 'plugins:nautobot_circuit_maintenance:rawnotification' pk=object.raw_notification.pk %}"
              >{{ object.raw_notification.subject }}</a
            >
          </td>
        </tr>
        <tr>
          <td>Last Updated</td>
          <td>{{ object.last_updated }}</td>
        </tr>
        <tr>
          <td>JSON</td>
          <td>{{ object.json|linebreaks }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% include 'inc/custom_fields_panel.html' %}
{% include 'inc/relationships_panel.html' %}
{% endblock %}
