{% extends 'generic/object_detail.html' %}

{% block buttons %}{% endblock %}

{% block content_left_page %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Info</strong>
        </div>
        <table class="table table-hover panel-body attr-table">
            <tr>
                <td>Subject</td>
                <td>
                    <span class="">{{ object.subject }}</span>
                </td>
            </tr>
            <tr>
                <td>Provider</td>
                <td><a href="{{ object.provider.get_absolute_url }}">{{ object.provider }}</a></td>
            </tr>
            <tr>
                <td>Sender</td>
                <td>{{ object.sender }}</td>
            </tr>
            <tr>
                <td>Source</td>
                <td><a href="{{ object.source.get_absolute_url }}">{{ object.source }}</a></td>
            </tr>
            <tr>
                <td>Parsed</td>
                <td>
                    {% if parsed_notification %}
                        <a href="{{ parsed_notification.get_absolute_url }}">{{ object.parsed }}</a>,
                        leading to maintenance <a href="{{ parsed_notification.maintenance.get_absolute_url }}">
                            {{ parsed_notification.maintenance }}
                        </a>
                    {% else %}
                        {{ object.parsed }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Stamp</td>
                <td>{{ object.stamp }}</td>
            </tr>
            <tr>
                <td>Last Updated</td>
                <td>{{ object.last_updated }}</td>
            </tr>
            <tr>
                <td>Raw</td>
                <td><pre>{{ raw_repr|linebreaks }}</pre></td>
            </tr>
        </table>
    </div>
{% endblock %}
