{% extends 'base.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load plugins %}

{% block title %}{{ object }}{% endblock%}
{% block header %}

<div class="row noprint">
  <div class="col-sm-8 col-md-9">
    <ol class="breadcrumb">
      <li><a href="{% url 'plugins:nautobot_circuit_maintenance:rawnotification_list' %}">Raw Notification</a></li>
      <li><a>{{ object.subject }}</a></li>
    </ol>
  </div>
</div>

<h1>{{ object.subject }}</h1>

{% include 'inc/created_updated.html' with obj=object %}

<div class="pull-right noprint">{% custom_links object %}</div>

{% endblock %} {% block content %}

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Info</strong>
      </div>
      <table class="table table-hover panel-body attr-table">
        <tr>
          <td>Subject</td>
          <td>
            <span class="">{{ object.subject }}</span>
          </td>
        </tr>
        <tr>
          <td>Provider</td>
          <td>{{ object.provider }}</td>
        </tr>
        <tr>
          <td>Sender</td>
          <td>{{ object.sender }}</td>
        </tr>
        <tr>
          <td>Source</td>
          <td>{{ object.source }}</td>
        </tr>
        <tr>
          <td>Parsed</td>
          <td>
            {% if parsed_notification %}
            <a href="{% url 'plugins:nautobot_circuit_maintenance:parsednotification' pk=parsed_notification.id %}"
              >{{ object.parsed }}</a
            >
            {% else %} {{ object.parsed }} {% endif %}
          </td>
        </tr>
        <tr>
          <td>Stamp</td>
          <td>{{ object.stamp }}</td>
        </tr>
        <tr>
          <td>Last Updated</td>
          <td>{{ object.last_updated }}</td>
        </tr>
        <tr>
          <td>Raw</td>
          <td>{{ raw_repr|linebreaks }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% include 'inc/custom_fields_panel.html' %}
{% include 'inc/relationships_panel.html' %}
{% endblock %}
